{
  "openapi": "3.0.3",
  "info": {
    "title": "ModelRelay API",
    "version": "0.7.0",
    "description": "Control-plane and inference endpoints for ModelRelay projects, tiers, customers, billing, and LLM proxying."
  },
  "servers": [
    {
      "url": "https://api.modelrelay.ai/api/v1"
    }
  ],
  "paths": {
    "/schemas/workflow_v0.schema.json": {
      "get": {
        "operationId": "getWorkflowV0Schema",
        "summary": "Get JSON Schema for workflow.v0",
        "description": "Returns the canonical JSON Schema (draft-07) for `workflow.v0`.",
        "responses": {
          "200": {
            "description": "Schema document",
            "content": {
              "application/schema+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/schemas/workflow_v1.schema.json": {
      "get": {
        "operationId": "getWorkflowV1Schema",
        "summary": "Get JSON Schema for workflow.v1",
        "description": "Returns the canonical JSON Schema (draft-07) for `workflow.v1`.",
        "responses": {
          "200": {
            "description": "Schema document",
            "content": {
              "application/schema+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/schemas/run_event_v0.schema.json": {
      "get": {
        "operationId": "getRunEventV0Schema",
        "summary": "Get JSON Schema for run_event.v0",
        "description": "Returns the canonical JSON Schema (draft-07) for `run_event.v0` (workflow run history events).",
        "responses": {
          "200": {
            "description": "Schema document",
            "content": {
              "application/schema+json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/auth/register": {
      "post": {
        "operationId": "registerOwner",
        "summary": "Register a new owner account",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "User created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "operationId": "login",
        "summary": "Exchange credentials for tokens",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tokens issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "operationId": "refreshToken",
        "summary": "Refresh an access token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refresh_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tokens refreshed",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AuthTokens"
                }
              }
            }
          }
        }
      }
    },
    "/auth/logout": {
      "post": {
        "operationId": "logout",
        "summary": "Revoke a refresh token",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "refresh_token": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "Session revoked"
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "operationId": "getAuthenticatedUser",
        "summary": "Fetch the authenticated user profile",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current user",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "user": {
                      "$ref": "#/components/schemas/User"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/auth/customer-token": {
      "post": {
        "operationId": "mintCustomerToken",
        "summary": "Mint a customer-scoped bearer token",
        "description": "Used by trusted backends to mint short-lived customer-scoped bearer tokens\nfor data-plane access (/responses, /runs). Requires a secret API key (mr_sk_*).\nThe customer must already exist; use /customers endpoints to create customers first.\n",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customer_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Internal customer UUID (provide exactly one of customer_id or customer_external_id)"
                  },
                  "customer_external_id": {
                    "type": "string",
                    "description": "External customer identifier (provide exactly one of customer_id or customer_external_id)"
                  },
                  "ttl_seconds": {
                    "type": "integer",
                    "format": "uint32",
                    "minimum": 1,
                    "description": "Requested token TTL in seconds (server may cap this)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer token issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (missing or invalid customer selector)"
          },
          "401": {
            "description": "Invalid or missing secret key"
          },
          "404": {
            "description": "Customer not found"
          }
        }
      }
    },
    "/auth/device/start": {
      "post": {
        "operationId": "startDeviceAuthorization",
        "summary": "Start a device authorization session",
        "description": "Starts an OAuth 2.0 device authorization session so constrained clients (TUIs)\ncan obtain a customer-scoped bearer token without running a local web server.\nRequires a project-scoped API key (publishable or secret).\n",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "201": {
            "description": "Device authorization session started",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceStartResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (e.g., missing project-scoped API key)"
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/auth/device/token": {
      "post": {
        "operationId": "pollDeviceToken",
        "summary": "Poll a device authorization session",
        "description": "Polls a device authorization session by `device_code`. Returns a customer-scoped bearer token\nonce the user completes authorization in the browser.\n",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "device_code"
                ],
                "properties": {
                  "device_code": {
                    "type": "string",
                    "description": "Opaque device code returned by /auth/device/start"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer token issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "OAuth device flow error (authorization_pending, slow_down, expired_token, invalid_grant, access_denied)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeviceTokenError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key"
          }
        }
      }
    },
    "/auth/oidc/exchange": {
      "post": {
        "operationId": "exchangeOidcToken",
        "summary": "Exchange an OIDC id_token for a customer bearer token",
        "description": "Verifies a provided OIDC `id_token` using the project's configured OIDC settings,\nresolves (provider, subject) to a customer via customer_identities, and returns\na short-lived customer-scoped bearer token for data-plane access.\n",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "id_token"
                ],
                "properties": {
                  "id_token": {
                    "type": "string",
                    "description": "OIDC id_token JWT to verify and exchange"
                  },
                  "project_id": {
                    "type": "string",
                    "format": "uuid",
                    "description": "Optional; must match the API key's project_id if provided"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer token issued",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerTokenResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request or token contents",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "401": {
            "description": "Invalid id_token"
          },
          "403": {
            "description": "Identity unknown and auto-provision disabled",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/APIError"
                }
              }
            }
          },
          "409": {
            "description": "Identity already linked to a different customer"
          }
        }
      }
    },
    "/customers/claim": {
      "post": {
        "operationId": "claimCustomer",
        "summary": "Link a customer identity to a customer by email",
        "description": "Used when a customer subscribes via Stripe Checkout (email only) and later authenticates to the app.\nLinks (provider, subject) to the existing customer record found by email.\n",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "provider",
                  "subject"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "provider": {
                    "type": "string",
                    "enum": [
                      "github",
                      "google",
                      "oidc"
                    ],
                    "description": "Identity provider (must match project's enabled providers)"
                  },
                  "subject": {
                    "type": "string",
                    "minLength": 1,
                    "description": "OAuth/OIDC subject claim from the identity provider"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer identity linked"
          },
          "404": {
            "description": "Customer not found"
          },
          "409": {
            "description": "Identity already linked to a different customer"
          }
        }
      }
    },
    "/customers": {
      "get": {
        "operationId": "listCustomers",
        "summary": "List customers",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Customer list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomerWithSubscription"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createProjectCustomer",
        "summary": "Create a customer",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customer": {
                      "$ref": "#/components/schemas/CustomerWithSubscription"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "upsertCustomer",
        "summary": "Upsert a customer by external_id",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCreate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Customer updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customer": {
                      "$ref": "#/components/schemas/CustomerWithSubscription"
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Customer created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customer": {
                      "$ref": "#/components/schemas/CustomerWithSubscription"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customer_id}": {
      "parameters": [
        {
          "name": "customer_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "operationId": "getCustomer",
        "summary": "Get a customer",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Customer",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customer": {
                      "$ref": "#/components/schemas/CustomerWithSubscription"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Customer not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteProjectCustomer",
        "summary": "Delete a customer",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Customer deleted"
          },
          "404": {
            "description": "Customer not found"
          }
        }
      }
    },
    "/customers/{customer_id}/subscribe": {
      "parameters": [
        {
          "name": "customer_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "operationId": "subscribeCustomer",
        "summary": "Create a customer subscription checkout session",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "tier_id",
                  "success_url",
                  "cancel_url"
                ],
                "properties": {
                  "tier_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "success_url": {
                    "type": "string",
                    "format": "uri"
                  },
                  "cancel_url": {
                    "type": "string",
                    "format": "uri"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Checkout session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CheckoutSessionResponse"
                }
              }
            }
          }
        }
      }
    },
    "/customers/{customer_id}/subscription": {
      "parameters": [
        {
          "name": "customer_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "operationId": "getCustomerSubscription",
        "summary": "Get a customer's subscription",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "subscription": {
                      "$ref": "#/components/schemas/Subscription"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Subscription not found"
          }
        }
      },
      "delete": {
        "operationId": "cancelCustomerSubscription",
        "summary": "Cancel a customer's subscription",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Subscription canceled"
          }
        }
      }
    },
    "/customers/{customer_id}/balance": {
      "parameters": [
        {
          "name": "customer_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "operationId": "getCustomerBalance",
        "summary": "Get a customer's PAYGO balance",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "PAYGO balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerBalanceResponse"
                }
              }
            }
          },
          "400": {
            "description": "Subscription is not PAYGO"
          },
          "404": {
            "description": "Customer or subscription not found"
          },
          "503": {
            "description": "Service unavailable"
          }
        }
      }
    },
    "/customers/{customer_id}/balance/history": {
      "parameters": [
        {
          "name": "customer_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "operationId": "getCustomerBalanceHistory",
        "summary": "Get a customer's PAYGO ledger history",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ledger entries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerLedgerResponse"
                }
              }
            }
          },
          "404": {
            "description": "Customer not found"
          },
          "503": {
            "description": "Service unavailable"
          }
        }
      }
    },
    "/customers/{customer_id}/topup": {
      "parameters": [
        {
          "name": "customer_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "operationId": "createCustomerTopup",
        "summary": "Create a PAYGO top-up checkout session for a customer",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerTopupRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Checkout session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerTopupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "404": {
            "description": "Customer not found"
          },
          "503": {
            "description": "Service unavailable"
          }
        }
      }
    },
    "/customers/me": {
      "get": {
        "operationId": "getCustomerMe",
        "summary": "Get the authenticated customer",
        "description": "Returns the current customer associated with the provided customer-scoped bearer token.\nIncludes the customer's subscription and tier when available.\n",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Customer details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerMeResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          }
        }
      }
    },
    "/customers/me/usage": {
      "get": {
        "operationId": "getCustomerMeUsage",
        "summary": "Get the authenticated customer's usage",
        "description": "Returns customer-visible usage metrics for the current billing window.\nIncludes request/token counts and (for paid tiers) remaining subscription credits.\nDoes not include any developer-private budgets (e.g., internal tier spend caps).\n",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Usage summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerMeUsageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Customer not found"
          },
          "500": {
            "description": "Failed to calculate usage"
          },
          "503": {
            "description": "Service unavailable"
          }
        }
      }
    },
    "/customers/me/subscription": {
      "get": {
        "operationId": "getCustomerMeSubscription",
        "summary": "Get the authenticated customer's subscription",
        "description": "Returns customer-visible subscription details for the authenticated customer bearer token.\nIncludes tier name and subscription price; does not include developer-private usage cost accounting.\n",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Subscription details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerMeSubscriptionResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Customer or tier not found"
          },
          "500": {
            "description": "Internal server error"
          },
          "503": {
            "description": "Service unavailable"
          }
        }
      }
    },
    "/customers/me/balance": {
      "get": {
        "operationId": "getCustomerMeBalance",
        "summary": "Get the authenticated customer's PAYGO balance",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "PAYGO balance",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerBalanceResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "400": {
            "description": "Subscription is not PAYGO"
          },
          "404": {
            "description": "Customer or subscription not found"
          },
          "503": {
            "description": "Service unavailable"
          }
        }
      }
    },
    "/customers/me/balance/history": {
      "get": {
        "operationId": "getCustomerMeBalanceHistory",
        "summary": "Get the authenticated customer's PAYGO ledger history",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Ledger entries",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerLedgerResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Customer not found"
          },
          "503": {
            "description": "Service unavailable"
          }
        }
      }
    },
    "/customers/me/topup": {
      "post": {
        "operationId": "createCustomerMeTopup",
        "summary": "Create a PAYGO top-up checkout session for the authenticated customer",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerTopupRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Checkout session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerTopupResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "Unauthorized"
          },
          "404": {
            "description": "Customer not found"
          },
          "503": {
            "description": "Service unavailable"
          }
        }
      }
    },
    "/customers/me/change-tier": {
      "post": {
        "operationId": "changeCustomerMeTier",
        "summary": "Change the authenticated customer's subscription tier",
        "description": "Allows customers to upgrade or downgrade their subscription tier. Supports paid-to-paid (with proration), free-to-paid (requires payment method on file), paid-to-free (cancels at period end), and free-to-free transitions.",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ChangeTierRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tier changed successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CustomerMeSubscriptionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request (missing tier_code, same tier, or PAYGO subscription)"
          },
          "401": {
            "description": "Unauthorized"
          },
          "402": {
            "description": "No payment method on file (required for free-to-paid upgrade)"
          },
          "404": {
            "description": "Customer or tier not found"
          },
          "409": {
            "description": "Billing provider mismatch"
          },
          "503": {
            "description": "Service unavailable"
          }
        }
      }
    },
    "/models": {
      "get": {
        "operationId": "listModels",
        "summary": "List active models",
        "description": "Returns all active models with rich metadata for building model selectors.",
        "parameters": [
          {
            "name": "provider",
            "in": "query",
            "required": false,
            "description": "Filter results to a specific provider",
            "schema": {
              "$ref": "#/components/schemas/ProviderId"
            }
          },
          {
            "name": "capability",
            "in": "query",
            "required": false,
            "description": "Filter results to models that support a capability",
            "schema": {
              "$ref": "#/components/schemas/ModelCapability"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Models list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ModelsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/projects": {
      "get": {
        "operationId": "listProjects",
        "summary": "List projects for the authenticated owner",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Project list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "projects": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Project"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createProject",
        "summary": "Create a project",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "markup_percentage": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 100
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Project created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project": {
                      "$ref": "#/components/schemas/Project"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectID"
        }
      ],
      "get": {
        "operationId": "getProject",
        "summary": "Get a project",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Project found",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project": {
                      "$ref": "#/components/schemas/Project"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateProject",
        "summary": "Update a project",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "markup_percentage": {
                    "type": "number",
                    "minimum": 0,
                    "maximum": 100
                  },
                  "billing_mode": {
                    "$ref": "#/components/schemas/BillingMode"
                  },
                  "customer_auto_provision_tier_id": {
                    "type": "string",
                    "format": "uuid"
                  },
                  "customer_oauth_providers": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "github",
                        "google"
                      ]
                    }
                  },
                  "oidc_enabled": {
                    "type": "boolean"
                  },
                  "oidc_issuer": {
                    "type": "string"
                  },
                  "oidc_audiences": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  },
                  "oidc_jwks_url": {
                    "type": "string"
                  },
                  "oidc_subject_claim": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Project updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "project": {
                      "$ref": "#/components/schemas/Project"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteProject",
        "summary": "Delete a project",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Project deleted"
          }
        }
      }
    },
    "/projects/{id}/tiers": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectID"
        }
      ],
      "get": {
        "operationId": "listProjectTiers",
        "summary": "List tiers for a project",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Tier list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tiers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Tier"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createTier",
        "summary": "Create a tier",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TierCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tier created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "tier": {
                      "$ref": "#/components/schemas/Tier"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{id}/tiers/{tier_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectID"
        },
        {
          "name": "tier_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "put": {
        "operationId": "updateTier",
        "summary": "Update a tier",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/TierUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tier updated"
          }
        }
      },
      "delete": {
        "operationId": "deleteTier",
        "summary": "Delete a tier",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Tier deleted"
          }
        }
      }
    },
    "/projects/{id}/customers": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectID"
        }
      ],
      "get": {
        "operationId": "listProjectCustomers",
        "summary": "List customers for a project",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Customer list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customers": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CustomerWithSubscription"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createCustomer",
        "summary": "Create a customer",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CustomerCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Customer created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "customer": {
                      "$ref": "#/components/schemas/CustomerWithSubscription"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{id}/customers/{customer_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectID"
        },
        {
          "name": "customer_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "delete": {
        "operationId": "deleteCustomer",
        "summary": "Delete a customer",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Customer deleted"
          }
        }
      }
    },
    "/projects/{id}/webhooks": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectID"
        }
      ],
      "get": {
        "operationId": "listProjectWebhooks",
        "summary": "List project webhooks",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhooks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/WebhookConfig"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createProjectWebhook",
        "summary": "Create a project webhook",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookConfigInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhook": {
                      "$ref": "#/components/schemas/WebhookConfig"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{id}/webhooks/{webhook_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectID"
        },
        {
          "$ref": "#/components/parameters/WebhookID"
        }
      ],
      "get": {
        "operationId": "getProjectWebhook",
        "summary": "Get a project webhook",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhook": {
                      "$ref": "#/components/schemas/WebhookConfig"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "operationId": "updateProjectWebhook",
        "summary": "Update a project webhook",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookConfigUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Webhook updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhook": {
                      "$ref": "#/components/schemas/WebhookConfig"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteProjectWebhook",
        "summary": "Delete a project webhook",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Webhook deleted"
          }
        }
      }
    },
    "/projects/{id}/webhooks/{webhook_id}/events": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectID"
        },
        {
          "$ref": "#/components/parameters/WebhookID"
        }
      ],
      "get": {
        "operationId": "listProjectWebhookEvents",
        "summary": "List webhook delivery events",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Webhook events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/OutboundWebhookEvent"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/responses": {
      "post": {
        "operationId": "createResponse",
        "summary": "Create a response via the provider-agnostic API",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesResponse"
                }
              }
            }
          }
        },
        "description": "Creates a model response. Auth accepts secret API keys or bearer tokens. Bearer tokens may be owner session tokens (dashboard/server) or end-user tokens; publishable keys are not allowed."
      }
    },
    "/responses:batch": {
      "post": {
        "operationId": "createResponsesBatch",
        "summary": "Create multiple responses concurrently (batch)",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ResponsesBatchRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch response results",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ResponsesBatchResponse"
                }
              }
            }
          }
        }
      }
    },
    "/images/generate": {
      "post": {
        "operationId": "generateImage",
        "summary": "Generate images from a text prompt",
        "description": "Generate images using AI models. Returns URLs by default (requires storage configuration) or base64-encoded data when response_format is 'b64_json'.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImageRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated images",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageResponse"
                }
              }
            }
          }
        }
      }
    },
    "/images/{image_id}": {
      "parameters": [
        {
          "name": "image_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Image ID"
        }
      ],
      "get": {
        "operationId": "getImage",
        "summary": "Get image details",
        "description": "Retrieve information about a specific image, including its pinned status and URL.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Image details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImagePinResponse"
                }
              }
            }
          },
          "404": {
            "description": "Image not found"
          }
        }
      }
    },
    "/images/{image_id}/pin": {
      "parameters": [
        {
          "name": "image_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          },
          "description": "Image ID"
        }
      ],
      "post": {
        "operationId": "pinImage",
        "summary": "Pin an image",
        "description": "Pin an image to prevent it from expiring. Pinned images remain accessible permanently (subject to tier limits).",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Image pinned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImagePinResponse"
                }
              }
            }
          },
          "404": {
            "description": "Image not found"
          },
          "403": {
            "description": "Quota exceeded"
          },
          "410": {
            "description": "Image has expired"
          }
        }
      },
      "delete": {
        "operationId": "unpinImage",
        "summary": "Unpin an image",
        "description": "Unpin an image, setting it to expire after the default ephemeral period (7 days).",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Image unpinned successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImagePinResponse"
                }
              }
            }
          },
          "404": {
            "description": "Image not found"
          }
        }
      }
    },
    "/runs": {
      "post": {
        "operationId": "createRun",
        "summary": "Start a workflow run (workflow.v0 or workflow.v1)",
        "description": "Starts a run for a `workflow.v0` or `workflow.v1` spec and returns a `run_id`. Auth matches `/responses` (API key or frontend bearer token). Session owner tokens from `/auth/login` are not accepted. Provide `session_id` to link the run to a session; when linked, assistant messages are appended to the session on completion.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RunsCreateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Run created (or idempotent replay)",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunsCreateResponse"
                }
              }
            }
          }
        }
      }
    },
    "/runs/{run_id}": {
      "parameters": [
        {
          "name": "run_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "operationId": "getRun",
        "summary": "Get a derived run snapshot",
        "description": "Returns a derived snapshot state for the run (folded from event history + artifacts), including outputs and an aggregated cost summary when available.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Run snapshot",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunsGetResponse"
                }
              }
            }
          },
          "404": {
            "description": "Run not found"
          }
        }
      }
    },
    "/runs/{run_id}/events": {
      "parameters": [
        {
          "name": "run_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        },
        {
          "name": "after_seq",
          "in": "query",
          "required": false,
          "schema": {
            "type": "integer",
            "format": "uint64",
            "minimum": 0
          },
          "description": "Returns events where `seq > after_seq`."
        },
        {
          "name": "wait",
          "in": "query",
          "required": false,
          "schema": {
            "type": "boolean"
          },
          "description": "When false, returns currently available events then closes."
        },
        {
          "name": "limit",
          "in": "query",
          "required": false,
          "schema": {
            "type": "integer",
            "format": "uint32",
            "minimum": 1,
            "maximum": 10000
          },
          "description": "Maximum number of events to send before closing."
        }
      ],
      "get": {
        "operationId": "streamRunEvents",
        "summary": "Stream run events (append-only)",
        "description": "Streams an append-only, totally ordered history for the run. The wire format is negotiated via `Accept`: NDJSON (`application/x-ndjson`) or Server-Sent Events (`text/event-stream`). Each line/event is a `run_event.v0` envelope; see `/schemas/run_event_v0.schema.json` for the canonical schema.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Event stream (NDJSON or SSE)",
            "content": {
              "application/x-ndjson": {
                "schema": {
                  "type": "string"
                },
                "example": "{\"envelope_version\":\"v0\",\"seq\":1,\"type\":\"run_compiled\",...}\n{\"envelope_version\":\"v0\",\"seq\":2,\"type\":\"run_started\",...}\n"
              },
              "text/event-stream": {
                "schema": {
                  "type": "string"
                },
                "example": "event: run_started\nid: 2\ndata: {\"envelope_version\":\"v0\",\"seq\":2,\"type\":\"run_started\",...}\n"
              }
            }
          }
        }
      }
    },
    "/sessions": {
      "post": {
        "operationId": "createSession",
        "summary": "Create a new session",
        "description": "Creates a new session for multi-turn conversation management. Sessions persist message history on the server for cross-device continuity.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Session created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "API key required"
          }
        }
      },
      "get": {
        "operationId": "listSessions",
        "summary": "List sessions",
        "description": "Returns a paginated list of sessions for the project.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 1,
              "maximum": 100,
              "default": 50
            },
            "description": "Maximum number of sessions to return"
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "format": "int32",
              "minimum": 0
            },
            "description": "Number of sessions to skip"
          },
          {
            "name": "end_user_id",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Filter sessions by end user ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Session list",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionListResponse"
                }
              }
            }
          },
          "401": {
            "description": "API key required"
          }
        }
      }
    },
    "/sessions/{session_id}": {
      "parameters": [
        {
          "name": "session_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "get": {
        "operationId": "getSession",
        "summary": "Get session with messages",
        "description": "Returns a session including its full message history.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Session with messages",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionWithMessagesResponse"
                }
              }
            }
          },
          "404": {
            "description": "Session not found"
          }
        }
      },
      "delete": {
        "operationId": "deleteSession",
        "summary": "Delete a session",
        "description": "Deletes a session and all its messages. Requires a secret API key (mr_sk_*).",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Session deleted"
          },
          "403": {
            "description": "Secret key required for deletion"
          },
          "404": {
            "description": "Session not found"
          }
        }
      },
      "patch": {
        "operationId": "updateSession",
        "summary": "Update session metadata",
        "description": "Updates session metadata. Keys with null values are removed.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionUpdateRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Session updated",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "API key required"
          },
          "404": {
            "description": "Session not found"
          }
        }
      }
    },
    "/sessions/{session_id}/messages": {
      "parameters": [
        {
          "name": "session_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "summary": "Append a session message",
        "description": "Appends a message to an existing session.",
        "operationId": "addSessionMessage",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/SessionMessageCreateRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Message appended",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionMessageResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid request"
          },
          "401": {
            "description": "API key required"
          },
          "404": {
            "description": "Session not found"
          }
        },
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ]
      }
    },
    "/projects/{id}/tool-hooks": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectID"
        }
      ],
      "get": {
        "summary": "List project tool hooks",
        "operationId": "listProjectToolHooks",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Tool hook list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hooks": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ToolHookConfig"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create a project tool hook",
        "operationId": "createProjectToolHook",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolHookConfigInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Tool hook created",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hook": {
                      "$ref": "#/components/schemas/ToolHookConfig"
                    },
                    "signing_secret": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{id}/tool-hooks/{hook_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectID"
        },
        {
          "$ref": "#/components/parameters/ToolHookID"
        }
      ],
      "get": {
        "summary": "Get a project tool hook",
        "operationId": "getProjectToolHook",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Tool hook details",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hook": {
                      "$ref": "#/components/schemas/ToolHookConfig"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Update a project tool hook",
        "operationId": "updateProjectToolHook",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ToolHookConfigUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Tool hook updated",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "hook": {
                      "$ref": "#/components/schemas/ToolHookConfig"
                    },
                    "signing_secret": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a project tool hook",
        "operationId": "deleteProjectToolHook",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "204": {
            "description": "Tool hook deleted"
          }
        }
      }
    },
    "/projects/{id}/tool-hooks/{hook_id}/events": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectID"
        },
        {
          "$ref": "#/components/parameters/ToolHookID"
        }
      ],
      "get": {
        "summary": "List tool hook delivery events",
        "operationId": "listProjectToolHookEvents",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Tool hook events",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "events": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ToolHookEvent"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/projects/{id}/tool-hooks/{hook_id}/test": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectID"
        },
        {
          "$ref": "#/components/parameters/ToolHookID"
        }
      ],
      "post": {
        "summary": "Test a tool hook",
        "operationId": "testProjectToolHook",
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Tool hook test result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ToolHookTestResult"
                }
              }
            }
          },
          "502": {
            "description": "Tool hook test failed"
          }
        }
      }
    },
    "/sessions/{session_id}/clear": {
      "parameters": [
        {
          "name": "session_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string",
            "format": "uuid"
          }
        }
      ],
      "post": {
        "operationId": "clearSession",
        "summary": "Clear session messages",
        "description": "Deletes all messages in the session and returns the updated session.",
        "security": [
          {
            "bearerAuth": []
          },
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Session cleared",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SessionResponse"
                }
              }
            }
          },
          "401": {
            "description": "API key required"
          },
          "404": {
            "description": "Session not found"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      },
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-ModelRelay-Api-Key"
      }
    },
    "parameters": {
      "ProjectID": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "WebhookID": {
        "name": "webhook_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      },
      "ToolHookID": {
        "name": "hook_id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string",
          "format": "uuid"
        }
      }
    },
    "schemas": {
      "BillingMode": {
        "type": "string",
        "enum": ["managed", "byob"],
        "description": "Billing mode for a project. 'managed' uses ModelRelay billing with tiers and subscriptions. 'byob' (Bring Your Own Billing) allows external billing."
      },
      "TierBillingMode": {
        "type": "string",
        "enum": ["subscription", "paygo"],
        "description": "Billing mode for a tier. 'subscription' uses monthly spend limits; 'paygo' uses prepaid balances."
      },
      "AuthTokens": {
        "type": "object",
        "properties": {
          "access_token": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          },
          "expires_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "AuthResponse": {
        "type": "object",
        "properties": {
          "user": {
            "$ref": "#/components/schemas/User"
          },
          "tokens": {
            "$ref": "#/components/schemas/AuthTokens"
          },
          "access_token": {
            "type": "string"
          },
          "refresh_token": {
            "type": "string"
          }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "project_id": {
            "type": "string",
            "format": "uuid"
          }
        }
      },
      "Project": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "owner_id": {
            "type": "string",
            "format": "uuid"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "markup_percentage": {
            "type": "number",
            "minimum": 0,
            "maximum": 100
          },
          "billing_mode": {
            "$ref": "#/components/schemas/BillingMode"
          },
          "customer_auto_provision_tier_id": {
            "type": "string",
            "format": "uuid"
          },
          "customer_oauth_providers": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "github",
                "google"
              ]
            }
          },
          "oidc_enabled": {
            "type": "boolean"
          },
          "oidc_issuer": {
            "type": "string"
          },
          "oidc_audiences": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "oidc_jwks_url": {
            "type": "string"
          },
          "oidc_subject_claim": {
            "type": "string"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "PriceInterval": {
        "type": "string",
        "enum": [
          "month",
          "year"
        ],
        "description": "Billing interval for a tier."
      },
      "TierModel": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "tier_id": {
            "type": "string",
            "format": "uuid"
          },
          "model_id": {
            "$ref": "#/components/schemas/ModelId"
          },
          "model_display_name": {
            "type": "string",
            "description": "Human-friendly model name resolved from pricing (e.g., 'GPT-4o Mini')"
          },
          "description": {
            "type": "string",
            "description": "Human-friendly description of what the model is good at"
          },
          "capabilities": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ModelCapability"
            },
            "description": "Workflow-critical capability flags for the model"
          },
          "context_window": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "description": "Maximum supported context window in tokens (if known)"
          },
          "max_output_tokens": {
            "type": "integer",
            "format": "int32",
            "minimum": 0,
            "description": "Maximum supported output tokens (if known)"
          },
          "deprecated": {
            "type": "boolean",
            "description": "Whether the model is deprecated"
          },
          "model_input_cost_cents": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "Provider input cost in cents per million tokens. Customer price is derived as cost * (1 + platformFeePercent/100)."
          },
          "model_output_cost_cents": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "Provider output cost in cents per million tokens. Customer price is derived as cost * (1 + platformFeePercent/100)."
          },
          "is_default": {
            "type": "boolean",
            "description": "Whether this is the default model for the tier"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "required": [
          "id",
          "tier_id",
          "model_id",
          "model_display_name",
          "description",
          "capabilities",
          "context_window",
          "max_output_tokens",
          "deprecated",
          "model_input_cost_cents",
          "model_output_cost_cents",
          "is_default",
          "created_at",
          "updated_at"
        ]
      },
      "TierModelCreate": {
        "type": "object",
        "description": "Model to add to a tier. Pricing is derived from the model_pricing table.",
        "properties": {
          "model_id": {
            "$ref": "#/components/schemas/ModelId"
          },
          "is_default": {
            "type": "boolean",
            "default": false
          }
        },
        "required": [
          "model_id"
        ]
      },
      "Tier": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "project_id": {
            "type": "string",
            "format": "uuid"
          },
          "tier_code": {
            "$ref": "#/components/schemas/TierCode"
          },
          "display_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Human-readable tier name"
          },
          "spend_limit_cents": {
            "type": "integer",
            "format": "uint64",
            "minimum": 0,
            "description": "Monthly spend limit in cents (e.g., 2000 = $20/month). Must be non-negative."
          },
          "billing_mode": {
            "$ref": "#/components/schemas/TierBillingMode"
          },
          "models": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/TierModel"
            }
          },
          "billing_provider": {
            "$ref": "#/components/schemas/BillingProvider"
          },
          "billing_price_ref": {
            "type": "string",
            "description": "Billing provider price reference for this tier"
          },
          "price_amount_cents": {
            "type": "integer",
            "format": "uint64",
            "minimum": 0,
            "description": "Subscription price amount in cents"
          },
          "price_currency": {
            "type": "string",
            "description": "Currency code for the price (e.g., 'usd')"
          },
          "price_interval": {
            "$ref": "#/components/schemas/PriceInterval"
          },
          "trial_days": {
            "type": "integer",
            "format": "uint32",
            "minimum": 0,
            "description": "Number of trial days for new subscriptions"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "TierCreate": {
        "type": "object",
        "properties": {
          "tier_code": {
            "$ref": "#/components/schemas/TierCode"
          },
          "display_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Human-readable tier name"
          },
          "spend_limit_cents": {
            "type": "integer",
            "format": "uint64",
            "minimum": 0,
            "description": "Monthly spend limit in cents (e.g., 2000 = $20/month). Must be non-negative."
          },
          "billing_mode": {
            "$ref": "#/components/schemas/TierBillingMode"
          },
          "models": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/TierModelCreate"
            }
          },
          "billing_provider": {
            "$ref": "#/components/schemas/BillingProvider"
          },
          "price_amount_cents": {
            "type": "integer",
            "format": "uint64",
            "minimum": 0,
            "description": "Subscription price amount in cents (paid tiers)"
          },
          "price_interval": {
            "$ref": "#/components/schemas/PriceInterval"
          },
          "trial_days": {
            "type": "integer",
            "format": "uint32",
            "minimum": 0,
            "description": "Number of trial days for new subscriptions (paid tiers)"
          }
        },
        "required": [
          "tier_code",
          "display_name",
          "spend_limit_cents",
          "models"
        ]
      },
      "TierUpdate": {
        "type": "object",
        "properties": {
          "tier_code": {
            "$ref": "#/components/schemas/TierCode"
          },
          "display_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Human-readable tier name"
          },
          "spend_limit_cents": {
            "type": "integer",
            "format": "uint64",
            "minimum": 0,
            "description": "Monthly spend limit in cents (e.g., 2000 = $20/month). Must be non-negative."
          },
          "models": {
            "type": "array",
            "minItems": 1,
            "items": {
              "$ref": "#/components/schemas/TierModelCreate"
            }
          },
          "billing_provider": {
            "$ref": "#/components/schemas/BillingProvider"
          },
          "price_amount_cents": {
            "type": "integer",
            "format": "uint64",
            "minimum": 0,
            "description": "Subscription price amount in cents (paid tiers)"
          },
          "price_interval": {
            "$ref": "#/components/schemas/PriceInterval"
          },
          "trial_days": {
            "type": "integer",
            "format": "uint32",
            "minimum": 0,
            "description": "Number of trial days for new subscriptions (paid tiers)"
          }
        },
        "required": [
          "tier_code",
          "display_name",
          "spend_limit_cents"
        ]
      },
      "CustomerMetadata": {
        "type": "object",
        "description": "Arbitrary customer metadata (max 10KB). Keys are limited to 40 characters. Values can be any JSON type. Nesting depth limited to 5 levels.",
        "additionalProperties": true
      },
      "SubscriptionStatusKind": {
        "type": "string",
        "enum": [
          "active",
          "trialing",
          "past_due",
          "canceled",
          "unpaid",
          "incomplete",
          "incomplete_expired",
          "paused"
        ],
        "description": "Subscription status (active, past_due, canceled, etc.)",
        "x-rust-type": {
          "crate": "modelrelay",
          "version": "0.1",
          "path": "modelrelay::SubscriptionStatusKind"
        }
      },
      "BillingProvider": {
        "type": "string",
        "enum": [
          "stripe",
          "crypto",
          "app_store",
          "external"
        ],
        "description": "Billing provider backing the subscription or tier."
      },
      "Customer": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "project_id": {
            "type": "string",
            "format": "uuid"
          },
          "external_id": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "External customer identifier from your system"
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Customer email address"
          },
          "metadata": {
            "$ref": "#/components/schemas/CustomerMetadata"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "Subscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "project_id": {
            "type": "string",
            "format": "uuid"
          },
          "customer_id": {
            "type": "string",
            "format": "uuid"
          },
          "tier_id": {
            "type": "string",
            "format": "uuid"
          },
          "tier_code": {
            "$ref": "#/components/schemas/TierCode"
          },
          "billing_provider": {
            "$ref": "#/components/schemas/BillingProvider"
          },
          "billing_customer_id": {
            "type": "string",
            "description": "Billing customer ID from the provider"
          },
          "billing_subscription_id": {
            "type": "string",
            "description": "Billing subscription ID from the provider"
          },
          "subscription_status": {
            "$ref": "#/components/schemas/SubscriptionStatusKind"
          },
          "current_period_start": {
            "type": "string",
            "format": "date-time",
            "description": "Start of the current billing period"
          },
          "current_period_end": {
            "type": "string",
            "format": "date-time",
            "description": "End of the current billing period"
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        }
      },
      "CustomerWithSubscription": {
        "type": "object",
        "required": [
          "customer"
        ],
        "properties": {
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "subscription": {
            "$ref": "#/components/schemas/Subscription"
          }
        }
      },
      "CustomerMe": {
        "type": "object",
        "required": [
          "customer"
        ],
        "properties": {
          "customer": {
            "$ref": "#/components/schemas/Customer"
          },
          "subscription": {
            "$ref": "#/components/schemas/Subscription"
          },
          "tier": {
            "$ref": "#/components/schemas/Tier"
          }
        }
      },
      "CustomerMeResponse": {
        "type": "object",
        "properties": {
          "customer": {
            "$ref": "#/components/schemas/CustomerMe"
          }
        },
        "required": [
          "customer"
        ]
      },
      "CustomerUsagePoint": {
        "type": "object",
        "required": [
          "day",
          "requests",
          "tokens"
        ],
        "properties": {
          "day": {
            "type": "string",
            "format": "date-time",
            "description": "UTC day bucket"
          },
          "requests": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "tokens": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "images": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "credits_used_cents": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "Credits used in this day bucket (only for paid tiers)"
          }
        }
      },
      "CustomerMeUsage": {
        "type": "object",
        "description": "Customer-visible usage metrics for the current billing window.",
        "required": [
          "window_start",
          "window_end",
          "requests",
          "tokens",
          "images",
          "daily"
        ],
        "properties": {
          "window_start": {
            "type": "string",
            "format": "date-time",
            "description": "Start of the current billing window"
          },
          "window_end": {
            "type": "string",
            "format": "date-time",
            "description": "End of the current billing window"
          },
          "requests": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "tokens": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "images": {
            "type": "integer",
            "format": "int64",
            "minimum": 0
          },
          "credits_granted_cents": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "Credits granted for this billing window (only for paid tiers)"
          },
          "credits_used_cents": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "Credits used so far in this billing window (only for paid tiers)"
          },
          "credits_remaining_cents": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "Credits remaining in this billing window (only for paid tiers)"
          },
          "percentage_used": {
            "type": "number",
            "format": "float",
            "minimum": 0,
            "maximum": 100,
            "description": "Percentage of granted credits used (only for paid tiers)"
          },
          "low": {
            "type": "boolean",
            "description": "Whether remaining credits are low (only for paid tiers)"
          },
          "daily": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CustomerUsagePoint"
            }
          }
        }
      },
      "CustomerMeUsageResponse": {
        "type": "object",
        "required": [
          "usage"
        ],
        "properties": {
          "usage": {
            "$ref": "#/components/schemas/CustomerMeUsage"
          }
        }
      },
      "CustomerMeSubscription": {
        "type": "object",
        "description": "Customer-visible subscription details for the current tier.",
        "required": [
          "tier_code",
          "tier_display_name"
        ],
        "properties": {
          "tier_code": {
            "$ref": "#/components/schemas/TierCode"
          },
          "tier_display_name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Human-readable tier name"
          },
          "price_amount_cents": {
            "type": "integer",
            "format": "int64",
            "minimum": 0,
            "description": "Subscription price amount in cents (omitted for free tiers)"
          },
          "price_currency": {
            "type": "string",
            "description": "Currency code for the price (e.g., 'usd')"
          },
          "price_interval": {
            "$ref": "#/components/schemas/PriceInterval"
          },
          "subscription_status": {
            "$ref": "#/components/schemas/SubscriptionStatusKind"
          },
          "current_period_start": {
            "type": "string",
            "format": "date-time",
            "description": "Start of the current billing period"
          },
          "current_period_end": {
            "type": "string",
            "format": "date-time",
            "description": "End of the current billing period"
          }
        }
      },
      "CustomerMeSubscriptionResponse": {
        "type": "object",
        "required": [
          "subscription"
        ],
        "properties": {
          "subscription": {
            "$ref": "#/components/schemas/CustomerMeSubscription"
          }
        }
      },
      "CustomerBalanceResponse": {
        "type": "object",
[...]
